
/*font-family
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/


/*global*/
html{
  scroll-behavior: smooth;

}

.container{
  z-index: -100;
  background-color:
}


.container-pad{
  padding-top: 125px;
  padding-bottom: 125px;
}

.orange-color{
  color:#2ecc71
}

.orange-color-bg{
  background-color: #2ecc71;
}

h1{
  font-size: 5em;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;

}

h3{
  font-weight: 400;
font-style: normal;
font-family: 'Roboto', sans-serif;
color: #0e0e0e;
font-size: 18px;
line-height: 1.5;
letter-spacing: 0px;
}


h6 {
  line-height: 1.7;
  font-size: 2.5em;
  font-family: 'Roboto', sans-serif;
}

h2{
  font-weight: 600;
font-style: normal;
font-family: 'Montserrat', sans-serif;
color: #0e0e0e;
font-size: 58px;
line-height: 1.2;
letter-spacing: -2px;
text-transform: capitalize;

}

.bold{
  font-style: bold
}


/*buttons*/
.btn{
  margin-top:1em
}

/*contact button*/
.btn-1 {
  color:white;
  border-color:#2ecc71
}


/*nav*/
.nav-wrap{
  text-align: right;
}


/*first container*/
.intro{
  height: 40rem;
  color: white;
}

.intro-text{
  padding-top:10%
}


.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.7)), to(rgba(29, 210, 177, 0.7)));
  background: -o-linear-gradient(45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
  background: linear-gradient(to 45deg, rgba(42, 27, 161, 0.7), rgba(29, 210, 177, 0.7) 100%);
}

/* typewriter animation*/
.typewriter  {
  color: #fff;
  font-size: 1.3em;
  font-family:'Roboto', sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #2ecc71; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing:; /* Adjust as needed */


}


.typewriter2 {
  color: #fff;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #2ecc71; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing:; /* Adjust as needed */

}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #2ecc71 }
}


/*container2*/
#container2{

  padding-top:125px;
  padding-bottom:125px

}

.about{
  padding-top:2em

}


#about-bold-text h3{
  font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #0e0e0e;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0px;

}

#about-light-text{
  font-weight: 400;
font-style: normal;
font-family: 'Roboto', sans-serif;
color: #a09d9d;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0px;
}


/*progress bar*/

.prog-bar{
  padding:1em
}

.progress-bar{
  height:100px;
  background-color: #2ecc71
}

.about-text{
  padding:1em
}





/*container3*/
#container3{
  padding-top:5em;
  padding-bottom: 5em;
  color:white;
}



.consultation h2{
  color:white
}

.heavier-text{
  font-weight: 700;
}

.no-bg{
  background-color: rgba(0, 0, 0, 0)
}


/*container-4*/
#container-4 h2{
  text-align: center;
  padding-bottom: 1em
}

.services{

  padding-left: 30px;
padding-right: 30px;
padding-top: 30px;
padding-bottom: 30px;
border-style: solid;
border-color: #e5e5e5;
border-left-width: 3px;
border-right-width: 3px;
border-top-width: 3px;
border-bottom-width: 3px;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
transition-duration: 0.4s;
transition-property: border-color;
align-items: center;
text-align: center;
height:auto;
}

.services h3{
  font-size: 2em;
  margin:0.5em;
}
.services:hover{
  border-color: #2ecc71
}

.services p{
  font-weight: 400;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    color: #a09d9d;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0px;
    margin-bottom: 0.5em
}


.services-img{
  height: 75px;
  width: 75px;
}


@import url('https://fonts.googleapis.com/css?family=Poppins');



/*social container*/
.social-container {
text-align: center;
padding: auto;

}

.socialbar{
  background-color: pink;
  text-align: center;
  padding:2em;
  width:100%;
  margin:auto;


}
.social-icons  a{
  background-color: red;
  color:white;
  font-size: 5em;
  padding:1em;
  z-index: -1;
  margin:0.2em
}

.social-container{
  height:auto;
  text-align: center;
  padding-top:2.5em;

}

.social-container h2{
  text-align: center;
}

#fb{

}

#tw{

}

#lin{

}




.footer-icons a{
  font-size: 3em;
  color:white;
  padding: 1em;
  margin:auto;
}




/*contact-contaienr*/

.contact{
  height: 400px;
  background-color: white
}

/*footer*/




.copyright{
    background-color:#f0f0f0;
}

.list-inline{
  text-align: center
}
.menusocail{
  display: inline-block;
}

.copyright p{
   margin:15px 0px;
}

footer{
	background-color:#222222;
	padding: 60px 0px;
}

footer .menu li a{
	color:#b1aca1;
	padding:10px;
	text-decoration:none;
}

footer .menu li a:hover{
	color:#7dabdb;
}
/*
.fa.fa-facebook ,
.fa.fa-dropbox,
.fa.fa-flickr ,
.fa.fa-github ,
.fa.fa-linkedin ,
.fa,fa-tumblr ,
.fa.fa-google-plus ,
.fa.fa-tumblr {
	color:#b1aca1;
	font-size:20px;
	padding:10px;
}

.fa.fa-facebook:hover,
.fa.fa-dropbox:hover,
.fa.fa-flickr:hover,
.fa.fa-github:hover,
.fa.fa-linkedin:hover,
.fa,fa-tumblr:hover,
.fa.fa-google-plus:hover,
.fa.fa-tumblr:hover {
	color:#6794c2;
}
